@import "tailwindcss";

h1,
h2,
h3 {
  font-family: "Sora", system-ui, sans-serif;
}

/* Global styles */
body {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #232323;
  color: #1c1917;
}
